# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build

# Misc
.DS_Store
*.log
*.lock
pnpm-lock.yaml
package-lock.json
yarn.lock

# Database
db/migrations

# Public assets
public

